@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
}
html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--VeryLightGrayishBlue);
    color: var(--GrayishBlue);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body::after {
    content: '';
    background-image: url('./images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
body::before{
    content: "";
    background-image: url('./images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.container{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-wrap: wrap;
}
.toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    color: var(--LightGrayishBlue);
}
.toggle-container input{
    position: absolute;
    left: -999px;
}
.toggle-container .ball{
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    top: 2.5px;
    left: 2.5px;
    height: 25px;
    width: 25px;
    transition: transform 0.4s ease;
}
.toggle-container input:checked + label .ball {
    transform: translateX(30px);
}
.toggle-container label {
    background-image: linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%) );
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    height: 30px;
    width: 60px;
}
.price-box ul{
    list-style-type: none;
    padding: 0;
    border-top: 1px solid hsl(234, 14%, 74%);
}
.price-box ul li {
    border-bottom: 1px solid hsl(234, 14%, 74%);
    font-size: 14px;
    padding: 15px 0;
}
.price-box{
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.price-box .annually{
    display: block;
}
.price-box .monthly{
    display: none;
}
.show-monthly .price-box .monthly{
    display: block;
}
.show-monthly .price-box .annually{
    display: none;
}
.price-box h4{
    margin: 0;
}
.price-box p {
    width: 250px;
    font-size: 4em;
    margin: 15px 0;
    color: var(--DarkGrayishBlue);
}
.price-box button{
    width: 100%;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.price-box.price-box-premium{
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
    transform: scale(1.15);
}
.price-box.price-box-premium p {
    color: #fff;
}
.price-box.price-box-premium button{
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%);
}

@media only screen and (max-width: 768px){
    .price-box.price-box-premium{
         transform: scale(1);
    }
}